* {
    padding: 0;
    margin: 0;
    font-family: "Courier New", "Courier", monospace;
    font-weight: bold;
}

:root {
    --color0: #ffe9c7;
    --color1: #5a3030;
    --color2: #482f2f;
    --color3: #261919;
}

body {
    background-color: #ff0000;
    background-image: url("vignette.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    text-align: center;
    color: var(--color0);
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    animation: fadeInAnimation ease 86400s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
    0% {opacity: 1;}
    100% {opacity: 0;}
}

#canvas-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#top {
    background: var(--color1);
    position: relative;
    width: 100%;
    height: 60px;
}

#title {
    height: inherit;
}

#login {
    position: fixed;
    height: 100%;
    top: 10px;
    right: 5px;
}

#main {
    position: relative;
    margin: 0 20%;
    height: 100%;
}

#splashbox {
    background: #000000;
    border-width: 4px;
    border-radius: 6px;
    border-style: solid;
    border-color: #008000;
    margin-top: 20px;
    padding: 10px;
}

#submain {
    background: var(--color2);
    border-width: 8px;
    border-radius: 12px;
    border-style: solid;
    border-color: #e9d5b6;
    margin-top: 20px;
    padding: 10px;
}

#cat {
    position: fixed;
    bottom: 10px;
    left: -400px;
}

#catimg {
    transition: transform 0.3s ease-in-out;
}

#catimg:hover {
    transform: translateX(350px);
}

#hidden {
    color: var(--color3);
    position: fixed;
    bottom: 10px;
    right: 10px;
    transition: color 1s ease-in-out;
    cursor: help;
}

#hidden:hover {
    color: var(--color0);
}

h1 {
    font-size: 40px;
}

img {
    height: 100%;
}

p {
    color: #00000000;
    margin: 10px;
    font-size: 8px;
    text-align: left;
}

a {
    color: var(--color0);
    text-decoration: none;
}

@keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

@-moz-keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

@-webkit-keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

@-o-keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

@-ms-keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

h2 {
    font-size: 20px;
    color: #00ff00;
    animation: fadeIn ease 1s;
    -webkit-animation: fadeIn ease 1s;
    -moz-animation: fadeIn ease 1s;
    -o-animation: fadeIn ease 1s;
    -ms-animation: fadeIn ease 1s;
}

button {
    background: var(--color2);
    border-width: 2px;
    border-radius: 4px;
    border-style: solid;
    border-color: #e9d5b6;
    margin: 6px;
    padding: 6px 12px;
    text-align: center;
    font-size: 20px;
    cursor: pointer;
    color: #ffffff;
    transition: background 0.2s ease-in-out, color 0.2s ease-in-out;
}

#login-btn {
    background: var(--color1);
    border: none;
    font-size: 16px;
    color: var(--color0);
}

#youtube {
    background: #a10000;
}

#twitch {
    background: #3c2763;
}

#twitter {
    background: #13699e;
}

#reddit {
    background: #a33800;
}

#youtube:hover {
    background: #ff0000;
}

#twitch:hover {
    background: #6441a5;
}

#twitter:hover {
    background: #1da1f2;
}

#reddit:hover {
    background: #ff5700;
}
