@font-face {
    font-family: title;
    src: url(fonts/bugaki/Bugaki.ttf);
}

@font-face {
    font-family: roboto;
    src: url(fonts/roboto/Roboto-Regular.ttf);
}

:root {
    --white: #f1dddd;
    --brown: #9c2d00;
    --darkbrown: #882000;
    --orange: #ffa007;
    --shadow: #00000070;
}

* {
    font-family: roboto;
    color: var(--white);
}

body {
    background: var(--brown);
    text-align: center;
}

.timeline {
    background: var(--brown);
    margin: 30px auto;
    border-radius: 8px;
    padding: 8px 12px;
    max-width: 768px;
}

.event {
    background: var(--darkbrown);
    text-align: left;
    margin: 4px 0;
    border-radius: 4px;
    padding: 10px 20px;
    width: fit-content;
    box-shadow: inset 0 0 10px var(--shadow);
}

.vr {
    background: var(--orange);
    margin: 0 36px;
    width: 4px;
    height: 36px;
}

h1 {
    font-family: title;
    letter-spacing: 1px;
    color: var(--orange);
    text-shadow: 2px 2px 2px var(--shadow);
}

h2 {
    font-size: 18px;
    color: var(--orange);
    text-shadow: 2px 2px 2px var(--shadow);
}

h3 {
    font-family: monospace;
    font-size: 24px;
    margin: 10px 20px;
}

h4 {
    font-size: 10px;
    font-weight: 100;
    color: var(--orange);
    margin: 0;
}

p {
    font-size: 12px;
}

#home {
    font-family: monospace;
    font-size: 12px;
    font-weight: 100;
    color: var(--orange);
    position: fixed;
    bottom: 10px;
    right: 10px;
}