@font-face {
    font-family: title;
    src: url(fonts/bugaki/Bugaki.ttf);
}

@font-face {
    font-family: roboto;
    src: url(fonts/roboto/Roboto-Regular.ttf);
}

:root {
    --white: #f9fffe;
    --brown: #9c2d00;
    --darkbrown: #882000;
    --orange: #ffa007;
}

* {
    font-family: roboto;
    color: var(--white);
}

body {
    background: var(--brown);
    text-align: center;
}

.timeline {
    background: var(--brown);
    margin: 30px auto;
    border-radius: 8px;
    padding: 8px 12px;
    max-width: 768px;
}

.event {
    background: var(--darkbrown);
    text-align: left;
    margin: 4px 0px;
    border-radius: 4px;
    padding: 10px 20px;
    width: fit-content;
}

.vr {
    background: var(--darkbrown);
    margin: 0px 36px;
    width: 4px;
    height: 36px;
}

h1 {
    font-family: title;
    letter-spacing: 1px;
    color: var(--orange);
}

h2 {
    font-size: 18px;
    color: var(--orange);
}

h3 {
    font-family: monospace;
    font-size: 24px;
    margin: 10px 20px;
}

h4 {
    font-size: 10px;
    color: var(--orange);
    margin: 0px;
}

p {
    font-size: 12px;
}
