h2, h3 {
    text-align: center;
}

#date {
    font-family: serif;
}

table {
    margin: 0 20px;
    border-collapse: collapse;
}

thead {border-bottom: 2px solid var(--text);}

th {
    padding: 6px;
    width: 80px;
    text-align: left;
}

td {
    font-family: serif;
    font-size: 18px;
    border-left: 2px solid var(--text);
    padding: 6px;
    width: 80px;
    text-align: left;
}