@font-face {
    font-family: title;
    src: url(fonts/cyberdyne/cyberdynecond.ttf);
}

@font-face {
    font-family: roboto;
    src: url(fonts/roboto/Roboto-Regular.ttf);
}

:root {
    --white: #f9fffe;
    --blue: #0077ef;
    --cyan: #00d2ff;
}

* {
    font-family: roboto;
    color: var(--white);
}

body {
    background: var(--blue);
    text-align: center;
}

.timeline {
    background: var(--cyan);
    margin: 30px auto;
    border-radius: 8px;
    padding: 8px 12px;
    max-width: 768px;
}

.event {
    background: var(--blue);
    text-align: left;
    margin: 4px 0px;
    border-radius: 4px;
    padding: 10px 20px;
    width: fit-content;
}

.vr {
    background: var(--blue);
    margin: 0px 36px;
    width: 4px;
    height: 36px;
}

h1 {
    font-family: title;
    font-weight: 100;
    letter-spacing: 1px;
}

h2 {
    font-size: 18px;
}

h3 {
    font-family: monospace;
    font-size: 24px;
    margin: 10px 20px;
}

h4 {
    font-size: 10px;
    margin: 0px;
}

p {
    font-size: 12px;
}

a {
    font-family: monospace;
    font-size: 12px;
    font-weight: 100;
    color: var(--cyan);
    position: fixed;
    bottom: 10px;
    right: 10px;
}